{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('usermanager/static', path='js/index.js') }}"></script>
{% endblock %} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="userDialog.show = true"
          >New User</q-btn
        >
        <q-btn
          unelevated
          color="primary"
          @click="walletDialog.show = true"
          class="q-ml-md"
          >New Wallet
        </q-btn>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Users</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportUsersCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          flat
          :rows="users"
          row-key="id"
          :columns="usersTable.columns"
          v-model:pagination="usersTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.label }
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.value }
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteUser(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Wallets</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportWalletsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          flat
          :rows="wallets"
          row-key="id"
          :columns="walletsTable.columns"
          v-model:pagination="walletsTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th v-if="hasLndhub" auto-width></q-th>
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.label }
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width v-if="hasLndhub">
                <q-btn
                  size="sm"
                  color="accent"
                  round
                  dense
                  @click="props.expand = !props.expand"
                  :icon="props.expand ? 'remove' : 'add'"
                />
                <q-tooltip> LndHub links </q-tooltip>
              </q-td>
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="sm"
                  icon="account_balance_wallet"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="['../wallet?usr=', props.row.user, '&wal=', props.row.id].join('')"
                  target="_blank"
                ></q-btn>
                <q-tooltip> Link to wallet </q-tooltip>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.value }
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteWallet(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props">
              <q-td colspan="100%">
                <div class="row">
                  <div
                    class="col-12 col-md-6 q-pa-md"
                    v-for="type in ['inkey', 'adminkey']"
                    v-bind:key="type"
                    style="max-width: 250px"
                  >
                    <div class="text-center">
                      <q-responsive :ratio="1" class="q-mx-sm">
                        <lnbits-qrcode
                          :value="`lndhub://${type == 'inkey' ? 'invoice' : 'admin'}:${props.row[type]}@${location.protocol}//${location.host}/lndhub/ext/`"
                          :options="{width: 800}"
                          class="rounded-borders"
                        ></lnbits-qrcode>
                      </q-responsive>
                    </div>
                    <div class="row q-mt-lg items-center justify-center">
                      <q-btn
                        outline
                        color="grey"
                        @click="copyText(`lndhub://${type == 'inkey' ? 'invoice' : 'admin'}:${props.row[type]}@${location.protocol}//${location.host}/lndhub/ext/`)"
                        class="text-center q-mb-md"
                        >Copy LndHub <span v-text="type"></span> URL</q-btn
                      >
                    </div>
                  </div>
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} User Manager Extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "usermanager/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="userDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="sendUserFormData" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="userDialog.data.usrname"
          label="Username"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="userDialog.data.walname"
          label="Initial wallet name"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="userDialog.data.extra1"
          label="Extra1"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="userDialog.data.extra2"
          label="Extra2"
        ></q-input>

        <q-btn
          unelevated
          color="primary"
          :disable="userDialog.data.walname == null"
          type="submit"
          >Create User</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Cancel</q-btn>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="walletDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="sendWalletFormData" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="walletDialog.data.user"
          :options="userOptions"
          label="User *"
        >
        </q-select>
        <q-input
          filled
          dense
          v-model.trim="walletDialog.data.walname"
          label="Wallet name"
        ></q-input>
        <q-btn
          unelevated
          color="primary"
          :disable="walletDialog.data.walname == null"
          type="submit"
          >Create Wallet</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Cancel</q-btn>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %}
